# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

##Test Generated
InvestTests.xctest
InvestTests.swiftmodule

## Build generated
Builds/
build/
_build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.bcsymbolmap

## Obj-C/Swift specific
*.hmap
*.ipa

## Default Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# Finder!!
.DS_Store

#Visual Studio
.vs/
Debug/
Release/
_Debug/
_Release/
bin/
obj/
**/*.user

# Frameworks
*.framework/
+
